#color-content {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

#color-display {
  width: 12vw;
  height: 12vw;
  margin-right: 15px;
}

#color-display.red {
  background-color: red;
}

#color-display.red {
  background-color: red;
}

#color-display.green {
  background-color: green;
}

#color-display.blue {
  background-color: dodgerblue;
}

#color-display.yellow {
  background-color: gold;
}

#color-display.black {
  background-color: black;
}

#red {
  accent-color: red;
}

#green {
  accent-color: green;
}

#blue {
  accent-color: dodgerblue;
}

#yellow {
  accent-color: gold;
}

#black {
  accent-color: black;
}
