* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 20px;
}

#title * {
  display: inline-block;
}

#title * {
  vertical-align: middle;
}

h1 {
  font-size: 2.5rem;
  margin: 20px 0;
}

#container {
  width: 60vw;
  margin: 0 auto;
}

#sections {
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin: 30px 0;
}

.section {
  width: 28vw;
}

button {
  color: #66ccff;
  background-color: #003399;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
